---
import type { MarkdownHeading } from "astro";
import Categories from "./Categories.astro";
import Profile from "./Profile.astro";
import SiteLinks from "./SiteLinks.astro";
import Tag from "./Tags.astro";

interface Props {
	class?: string;
	headings?: MarkdownHeading[];
}

const className = Astro.props.class;
---
<div id="sidebar" class:list={[className, "w-full"]}>
    <div id="sidebar-sticky" class="transition-all duration-700 sidebar-stack sticky top-4 mb-4">
        <Profile></Profile>
        <SiteLinks class="onload-animation" style="animation-delay: 125ms"></SiteLinks>
        <Categories class="onload-animation" style="animation-delay: 150ms"></Categories>
        <Tag class="onload-animation" style="animation-delay: 200ms"></Tag>
    </div>
</div>
